version: 2.1

jobs:
  cypress/run:
    docker:
      - image: cypress/base:18  # Node + Cypress environment
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm ci
      - run:
          name: Run Cypress tests
          command: npx cypress run

workflows:
  version: 2
  test:
    jobs:
      - cypress/run
